body{
    border: 5px solid black;
}
.container,.header{
    background-color: black;
}
.first-content,.first-content1{
    text-align: center;
    

}
.vl {
    
    border-left: 2px solid rgb(10, 2, 29);
    height: 100px;
  }
img {
    border: 2px solid black; 
  }
  .container2 {
    position: relative;
    text-align: left;
    color: rgb(14, 7, 7);
  }
  
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #9abdc8;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .container2:hover .overlay {
    opacity: 1;
  }
  body,.card-body,.card-header,.header,.full{
    background-image: url("https://t4.ftcdn.net/jpg/03/69/98/97/360_F_369989745_B3Xusedi5lEBBj5z5gGBLdpSmbxPcHoe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 
    }
 