*{
    padding: 0%;
    margin: 0%;
}
.bg{
    background-image: url("https://i.pinimg.com/originals/1d/70/cf/1d70cfd8fb6f3ed7d98334f099e53b36.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 750px;   
}
.bg1{
    background-image: url("https://images.unsplash.com/photo-1625225230517-7426c1be750c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGZvcm18ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 750px; 
}
.immg{
   float: right;
}
.bac{
    float: right;

}
.card-body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("https://thumbs.dreamstime.com/b/construction-material-beige-plywood-background-construction-material-beige-plywood-texture-abstract-art-background-solid-color-ldf-151081079.jpg");
 }
 .container-fluid{
    background-image: url("https://wallpapers.com/images/hd/beige-color-background-byev3i918mhvptur.jpg");
 }

 h2+p:hover{
    background-color: black;
    display: block;
 }

 .card-body{
    flex-flow: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
 }
 .card-header{
    background-color: burlywood;
 }
 p:hover{
    color: rgb(69, 13, 202);
 }
